.custom-footer {
  position: fixed;
  bottom: 0px;
  background-color: black;
  box-shadow: 0px 0px 5px 5px rgb(214,0,255);
}
.custom-font {
  background-color: rgb(0,0,0, 0);
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(214,0,255);
  text-shadow:
    0 0 5px rgb(214,0,255),
    0 0 10px rgb(214,0,255),
    0 0 20px rgb(214,0,255),
    0 0 40px rgb(214,0,255),
    0 0 80px rgb(214,0,255),
    0 0 90px rgb(214,0,255),
    0 0 100px rgb(214,0,255),
    0 0 150px rgb(214,0,255);
}

@media only screen and (max-width: 600px) {
  .custom-font {
    font-size: 16px;
  }
}
