<div class="custom-nav w-100">
  <app-menu-icon (openClose)="openClose($event)" class="float-left mt-1"></app-menu-icon>
  <div class="row justify-content-center">
    <app-button [text]="'about'" (click)="setPage('about')" [class]="isMenuOpen ? '' : 'd-none'"></app-button>
    <app-button [text]="'skills'" (click)="setPage('skills')" [class]="isMenuOpen ? '' : 'd-none'"></app-button>
    <app-button [text]="'contact'" (click)="setPage('contact')" [class]="isMenuOpen ? '' : 'd-none'"></app-button>
  </div>
</div>
