<a [href]="repo.html_url" target="_blank">
    <div class="m-3">
        <div class="tilt-box-wrap">
            <span class="t_over"></span>
            <span class="t_over"></span>
            <span class="t_over"></span>
            <span class="t_over"></span>
            <span class="t_over"></span>
            <span class="t_over"></span>
            <span class="t_over"></span>
            <span class="t_over"></span>
            <span class="t_over"></span>
            <div class="tilt-box">
                <strong>{{repo.name}}</strong>
            </div>
        </div>
    </div>
</a>
