.custom-div {
  box-shadow: 0px 0px 5px 3px rgb(0,184,255);
  background-color: rgb(0,30,255, 0.2);
}

.body {
  padding-top: 86px;
  padding-bottom: 90px;
}

@media only screen and (max-width: 600px) {
  .body {
    padding-top: 220px;
  }
}
