<div class="row">
    <div class="col-6">
        <div class="wraper m-3 p-3">
            <span>Programing Languages</span>
            <div class="m-3 p-3">
                <span>Typescrip</span><br />
                <span>JavaScript</span>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="wraper m-3 p-3">
            <span>Frameworks</span>
            <div class="m-3 p-3">
                <span>Angular</span><br />
                <span>Vue</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="wraper m-3 p-3">
            <span>Preferred IDE's / Tools</span>
            <div class="m-3 p-3">
                <span>Visual Studio Code</span><br />
                <span>Postman</span><br />
                <span>Adobe XD</span>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="wraper m-3 p-3">
            <span></span>
            <div class="m-3 p-3">
                <span></span><br />
                <span></span>
            </div>
        </div>
    </div>
</div>